* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f6f9;
    color: #333;
}

header {
    background-color: #1f2937;
    color: white;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

nav ul li a:hover {
    color: #facc15;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to right, #2563eb, #1e40af);
    color: white;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background-color: #facc15;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.hero button:hover {
    background-color: #eab308;
}

.section {
    padding: 60px 50px;
}

.section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;
}

.light {
    background-color: #e5e7eb;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    width: 220px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.facts-list {
    max-width: 600px;
    margin: auto;
    list-style: square;
    font-size: 18px;
    line-height: 1.8;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1f2937;
    color: white;
}

@media(max-width:768px){

    .search-box input{
        width:90%;
        margin-bottom:10px;
    }

    .search-box button{
        width:90%;
        margin-left:0;
    }

    header{
        flex-direction:column;
    }
}